## https://pt.wikipedia.org/w/api.php?action=parse&prop=sections&page=

In [12]:
import pandas as pd

import urllib.request, urllib.parse, json 

# pd.set_option('max_columns', None)           #Configura para exibir todas as colunas do dataframe

#Configura os parâmetros da consulta
params= urllib.parse.urlencode({
    "action": "parse",
    "pageid": "201178",                 #o id da página Campeonato Brasileiro de Futebol de 1971 dentro do banco de dados da Wikipédia em Português.     
    "section": "13",                    #o numero da seção contendo a tabela
    "prop": "text",
    "format": "json",
    "utf8": "1"
})
#Define o endpoint
endpoint = "https://pt.wikipedia.org/w/api.php?%s" % params

#Abre o documento HTML contendo a tabela Classificação final que estará localizado na chave ["parse"]["text"]["*"] da resposta.
with urllib.request.urlopen(endpoint) as url:
    html = json.loads(url.read().decode())["parse"]["text"]["*"]

df = pd.read_html(html)[0]        #pd.read_html retorna uma lista de dataframes, no caso há apenas um contendo os dados da tabela Classificação final.

print(df)

    Pos             Times  Pts   J   V   E   D  GP  GC  SG   %  \
0     1  Atlético Mineiro   34  27  12  10   5  39  22  17  63
1     2         São Paulo   30  27  10  10   7  26  23   3  56
2     3          Botafogo   28  27   8  12   7  27  27   0  52
3     4       Corinthians   31  25  12   7   6  33  21  12  62
4     5     Internacional   30  25  10  10   5  28  23   5  60
5     6            Grêmio   29  25  10   9   6  24  18   6  58
6     7         Palmeiras   28  25   9  10   6  27  20   7  56
7     8          Cruzeiro   28  25   8  12   5  28  17  11  56
8     9            Santos   27  25   9   9   7  24  16   8  54
9    10          Coritiba   26  25  11   4  10  23  25  -2  52
10   11           America   26  25   8  10   7  27  21   6  52
11   12     Vasco da Gama   23  25   7   9   9  15  22  -7  46
12   13             Bahia   18  19   5   8   6  14  16  -2  47
13   14          Flamengo   18  19   4  10   5  13  17  -4  47
14   15        Santa Cruz   17  19   3  11   5  17  23  -6  45
15   16        Fluminense   16  19   5   6   8  12  13  -1  42
16   17        Portuguesa   15  19   6   3  10  16  24  -8  40
17   18   América Mineiro   13  19   2   9   8  11  19  -8  35
18   19             Sport   12  19   4   4  11  10  27 -17  32
19   20             Ceará    9  19   2   5  12   5  25 -20  24

                   Classificação ou rebaixamento
0   Fase de grupos da Copa Libertadores de 1972.
1   Fase de grupos da Copa Libertadores de 1972.
2               Também participou da fase final.
3                  Participaram da segunda fase.
4                  Participaram da segunda fase.
5                  Participaram da segunda fase.
6                  Participaram da segunda fase.
7                  Participaram da segunda fase.
8                  Participaram da segunda fase.
9                  Participaram da segunda fase.
10                 Participaram da segunda fase.
11                 Participaram da segunda fase.
12                Participaram da primeira fase.
13                Participaram da primeira fase.
14                Participaram da primeira fase.
15                Participaram da primeira fase.
16                Participaram da primeira fase.
17                Participaram da primeira fase.
18                Participaram da primeira fase.
19                Participaram da primeira fase.

In [13]:
df.head()

,Pos,Times,Pts,J,V,E,D,GP,GC,SG,%,Classificação ou rebaixamento
0,1,Atlético Mineiro,34,27,12,10,5,39,22,17,63,Fase de grupos da Copa Libertadores de 1972.
1,2,São Paulo,30,27,10,10,7,26,23,3,56,Fase de grupos da Copa Libertadores de 1972.
2,3,Botafogo,28,27,8,12,7,27,27,0,52,Também participou da fase final.
3,4,Corinthians,31,25,12,7,6,33,21,12,62,Participaram da segunda fase.
4,5,Internacional,30,25,10,10,5,28,23,5,60,Participaram da segunda fase.

In [14]:
#criar um arquivo csv a partir do dataframe
df.to_csv('brasileirao1971.csv', index=False)

In [16]:
#https://pt.wikipedia.org/wiki/Laureados_com_o_Nobel_de_F%C3%ADsica
#https://pt.wikipedia.org/w/api.php?action=parse&prop=sections&page=Laureados_com_o_Nobel_de_F%C3%ADsica

import pandas as pd

import urllib.request, urllib.parse, json 

# pd.set_option('max_columns', None)           #Configura para exibir todas as colunas do dataframe

#Configura os parâmetros da consulta
params= urllib.parse.urlencode({
    "action": "parse",
    "pageid": "4343360",                 
    "section": "1",                      
    "prop": "text",
    "format": "json",
    "utf8": "1"
})
#Define o endpoint
endpoint = "https://pt.wikipedia.org/w/api.php?%s" % params

#Abre o documento HTML contendo a tabela Classificação final que estará localizado na chave ["parse"]["text"]["*"] da resposta.
with urllib.request.urlopen(endpoint) as url:
    html = json.loads(url.read().decode())["parse"]["text"]["*"]

df = pd.read_html(html)[0]        #pd.read_html retorna uma lista de dataframes, no caso há apenas um contendo os dados da tabela

print(df)

      Ano   Nº Imagem         Laureado[nota 1]            País[nota 2]  \
0    1901    1    NaN   Wilhelm Conrad Röntgen                Alemanha
1    1902    2    NaN          Hendrik Lorentz           Países Baixos
2    1902    3    NaN            Pieter Zeeman           Países Baixos
3    1903    4    NaN  Antoine Henri Becquerel                  França
4    1903    5    NaN             Pierre Curie                  França
..    ...  ...    ...                      ...                     ...
226  2022  221    NaN             John Clauser          Estados Unidos
227  2022  222    NaN          Anton Zeilinger                 Áustria
228  2023  223    NaN          Pierre Agostini  França/ Estados Unidos
229  2023  224    NaN            Ferenc Krausz        Hungria/ Áustria
230  2023  225    NaN          Anne L'Huillier                  França

                                       Citação[nota 3]
0    "em reconhecimento aos serviços extraordinário...
1    "em reconhecimento aos extraordinários serviço...
2    "em reconhecimento aos extraordinários serviço...
3    "pela sua descoberta da radioatividade espontâ...
4    "pelas suas pesquisas conjunta sobre o fenômen...
..                                                 ...
226  "pelos experimentos com fótons emaranhados, es...
227  "pelos experimentos com fótons emaranhados, es...
228  "pelos métodos experimentais que geram pulsos ...
229  "pelos métodos experimentais que geram pulsos ...
230  "pelos métodos experimentais que geram pulsos ...

[231 rows x 6 columns]

In [17]:
#dropar a coluna Imagem do df

df.drop(columns=['Imagem'], inplace=True)

In [18]:
df.head()

,Ano,Nº,Laureado[nota 1],País[nota 2],Citação[nota 3]
0,1901,1,Wilhelm Conrad Röntgen,Alemanha,"""em reconhecimento aos serviços extraordinário..."
1,1902,2,Hendrik Lorentz,Países Baixos,"""em reconhecimento aos extraordinários serviço..."
2,1902,3,Pieter Zeeman,Países Baixos,"""em reconhecimento aos extraordinários serviço..."
3,1903,4,Antoine Henri Becquerel,França,"""pela sua descoberta da radioatividade espontâ..."
4,1903,5,Pierre Curie,França,"""pelas suas pesquisas conjunta sobre o fenômen..."

In [19]:
#criar um arquivo csv a partir do dataframe
df.to_csv('nobel_fisica.csv', index=False)